body {
  font-family: Nanum Gothic;
}

h1 {
  text-align: center;
}

.container {
  /*border: 1px solid red;*/
}

.frame {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 6px solid black;
  background: rgb(127, 165, 177);
  border-radius: 10px;
  height: 550px;
  width: 400px;
}

/*top part*/

.top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* display */
.display {
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;

  height: 100px;
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline: auto;

  margin-top: 20px;
}

.display-upper {
  text-align: right;
  margin: 10px 20px;
  font-size: x-large;
}

.display-lower {
  text-align: right;
  margin: 0px 20px;
  margin-bottom: 10px;
  font-size: xx-large;
}

/* buttons */
.buttons-top {
  display: flex;
}

.btn-clear,
.btn-delete {
  height: 50px;
  width: 150px;
  margin-inline: auto;
  margin-top: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;
  font-weight: bold;
}

.btn-delete {
  background-color: aquamarine;
}

.btn-delete:active {
  box-shadow: 1 1px #666;
  transform: translateY(3px);
}

.btn-clear {
  background-color: bisque;
}

.btn-clear:active {
  box-shadow: 1 1px #666;
  transform: translateY(3px);
}
/*bottom part*/

.bottom {
  height: 60%;

  display: flex;
  margin-inline: auto;
  margin-top: 20px;
}

.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin-inline: auto;

  column-gap: 20px;
  row-gap: 20px;
}

.key {
  border: 2px solid rgb(77, 77, 77);
  background-color: lightgrey;

  height: 64px;
  width: 64px;
  border-radius: 10px;

  font-size: large;
}

.key:hover {
  background-color: rgb(204, 204, 204);
}

.key:active {
  background-color: rgb(204, 204, 204);
  box-shadow: 1 1px #666;
  transform: translateY(3px);
}

/* author */
.author-container {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}

.author {
  display: flex;
  align-items: center;
}

.icon {
  height: 30px;
  display: flex;
  margin: auto;
  margin-inline: 20px;
}
